<nav>
    <% if current_user %>
    <%= link_to "Logout", logout_path %>
    <%= link_to "Profile", user_welcome_path(current_user) %>
    <%= link_to "Events", events_path %>
<% else %>
</nav>
<%= link_to "Login with facebook","/auth/facebook/" %>
<% end %>
<div class="row">
    <h1 class="center">Welcome To The Underground</h1>
    <%= render "components/welcome_slider" %>
</div>
</div>
