<h1 class="center">
    <%= @event.title %>
</h1>
<% @event.posts.order(:cached_weighted_total => :desc).each do |post|
%>
<%= post.title %>
<p>
  <%= post.cached_votes_total %>
</p>
<% if post.photo %>
<%= image_tag post.photo %>
<% end %>
<% end %>
<button class="modal-trigger btn" data-target="new-post">New Post</button>

<div id="new-post" class="modal">
    <%= render "post/new_post" %>
</div>
