<!DOCTYPE html>
<html>
  <head>
    <title>Underground</title>
    <%= csrf_meta_tags %>

    <!-- Materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
        <% if current_user %>
        <%= link_to "Logout", logout_path %>
        <%= link_to "Profile", user_welcome_path(current_user) %>
        <%= link_to "Events", events_path %>
        <%= link_to "Friends", user_friends_path(current_user) %>
    <% else %>
    <%= link_to "Login with facebook","/auth/facebook/" %>
    <% end %>
    </nav>
    <%= render "layouts/nav" %>
    <%= yield %>

  </body>
</html>
